<div class="container">

<h2>Registro de novo usuário</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :nome, 'Nome completo' %><br />
    <%= f.text_field :nome, autofocus: true, class: 'form-control' %>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :crmv, 'CRMV' %><br />
      <%= f.text_field :crmv, class: 'form-control', class: 'form-control' %>
      <small id="CRMVHelp" class="form-text text-muted">Este CRMV será utilizado em todas as suas solicitações de exames.</small>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :cpf, 'CPF' %><br />
      <%= f.text_field :cpf, class: 'form-control', class: 'form-control' %>
      <small id="CPFHelp" class="form-text text-muted">O seu CPF é necessário para emissão dos recibos.</small>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone, class: 'form-control' %>
    <small id="CPFHelp" class="form-text text-muted">Casa haja algum problema com seus exames, você será contactado através desse número.</small>
  </div>

  <div class="form-group">
    <%= f.label :endereco, 'Endereço' %><br />
    <%= f.text_area :endereco, class: 'form-control' %>
    <small id="CPFHelp" class="form-text text-muted">O seu endereço é necessário para emissão dos recibos.</small>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
    <small id="passwordHelp" class="form-text text-muted"><%= @minimum_password_length %> caractéres no mínimo.</small>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
  </div>


  <div class="form-group">
    <%= f.submit "Sign up", class: 'btn btn-primary'  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>