$( "#status<%=@exame_requisicao.id%>" ).replaceWith("<td id=\"status<%=@exame_requisicao.id%>\"><%=t @exame_requisicao.aasm_state%></td>");
$( "#acoes<%=@exame_requisicao.id%>"  ).replaceWith("<td id=\"acoes<%=@exame_requisicao.id%>\"></td>");
