
<%= link_to 'Voltar', intranet_path %>



<h1>Requisições de exames à confirmar</h1>

<div id="quadro"></div>

<%= form_with url: confirmar_intranet_exame_requisicoes_path, method: :patch do |f| %>

<table class="table text-center">
  <thead class="thead-dark">
    <tr>
      <th>Data</th>
      <th>Protocolo</th>
      <th>Tipo</th>      
      <th>Requisitante</th>
      <th>Proprietário</th>
      <th>Nome do animal</th>
      <th>Status</th>
      <th colspan="2">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @exame_requisicoes.each do |exame_requisicao| %>
      <tr id="exame_requisicao<%=exame_requisicao.id%>" class="<%= exame_requisicao.aguardando_envio?? 'table-warning' : exame_requisicao.aguardando_resultado?? 'table-info' : ''%>">
        <td><%= exame_requisicao.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to exame_requisicao.id, edit_intranet_exame_requisicao_path(exame_requisicao) %></td>
        <td><%= exame_requisicao.tipo.nome %></td>
        <td><%= link_to (exame_requisicao.requisitante.nome or exame_requisicao.requisitante.email), edit_intranet_exame_requisicao_path(exame_requisicao)%></td>
        <td><%= link_to exame_requisicao.proprietario, edit_intranet_exame_requisicao_path(exame_requisicao) %></td>
        <td><%= link_to exame_requisicao.nome, edit_intranet_exame_requisicao_path(exame_requisicao) %></td>
        <td id="status<%=exame_requisicao.id%>"><%= t (exame_requisicao.aasm_state) %></td>
        <td id="acoes<%=exame_requisicao.id%>">

          <%#= button_to 'Confirmar recebimento', confirmar_intranet_exame_requisicao_path(exame_requisicao.id), id: "confirmar_#{exame_requisicao.id}", class: 'btn btn-outline-primary' if exame_requisicao.may_confirmar_recebimento?, value: exame_requisicao.id%>
          <%= f.button 'Confirmar recebimento', value: exame_requisicao.id, id: "confirmar_#{exame_requisicao.id}", name: "id", class: 'btn btn-primary' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>