<div class="container">

<h1 id="resultado">Resultado</h1>
<div id="menu">
<!--
  <%= form_tag({action: :anexar_resultado}, multipart: true) do %>
    <%= file_field_tag 'anexo' %>
    <%= submit_tag 'Anexar ao resultado', class: 'btn btn-default' %>
  <% end %>
-->

  <div class="form-group">
    <%= form_for ExameAnexo.new, url: anexar_resultado_intranet_exame_requisicao_path(@exame_requisicao), html: { multipart: true } do |f| %>
      <%= f.file_field :anexo %>
      <%= f.submit 'Anexar ao resultado', class: 'btn btn-default' %>
      <small class="form-text text-muted">Permite anexar um PDF por vez. Não é permitido excluir o arquivo após submissão.</small>
    <% end %>
  </div>

</div>

<% if @exame_requisicao.resultado %>
  <div id="anexos">
    <ul>
      <% @exame_requisicao.resultado.anexos.each_with_index do |anexo,index| %>
        <li><%= link_to "Resultado-#{index+1}-#{l anexo.created_at}", anexo.anexo.url, id: "resultado-anexo#{index+1}"%></li>
      <% end %>
      <% @exame_requisicao.resultado.imagens.each_with_index do |imagem,index| %>
        <li><%= link_to "Imagem-#{index+1}", imagem.imagem.url, id: "resultado-imagem#{index+1}"%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form_for ExameImagem.new, url: anexar_imagens_intranet_exame_requisicao_path(@exame_requisicao), html: { multipart: true } do |f| %>
    <%= file_field_tag "imagens[]", type: :file, multiple: true %>
    <%= f.submit 'Anexar imagens', class: 'btn btn-default' %>
    <small class="form-text text-muted">Permite anexar múltiplas imagens por vez. Não é permitido excluir o arquivo após submissão.</small>
  <% end %>
</div>


<h1>Requisição de exame</h1>

<p>
  <strong>Protocolo:</strong>
  <%= @exame_requisicao.id %>
</p>

<p>
  <strong>Requisitante:</strong>
  <%= @exame_requisicao.requisitante.nome %>

  <strong>CRMV:</strong>
  <%= @exame_requisicao.requisitante.crmv %>

  <strong>Telefone:</strong>
  <%= @exame_requisicao.requisitante.telefone %>
</p>


<p>
  <strong>Proprietario:</strong>
  <%= @exame_requisicao.proprietario %>

  <strong>Nome do animal:</strong>
  <%= @exame_requisicao.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @exame_requisicao.idade %>
  <strong>Especie:</strong>
  <%= @exame_requisicao.especie %>
  <strong>Raca:</strong>
  <%= @exame_requisicao.raca %>
</p>

<p>
  <strong>Suspeita clínica:</strong>
  <%= @exame_requisicao.suspeita_clinica %>
</p>


<p>
  <strong>Observações:</strong>
  <%= @exame_requisicao.observacoes %>
</p>

<p>
  <strong>Status:</strong>
  <%= t @exame_requisicao.aasm_state %>
</p>

<%= link_to 'Voltar', intranet_exame_requisicoes_path %>

</div>