<p id="notice"><%= notice %></p>

<h1>Requisições de exames</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Protocolo</th>
      <th>Proprietário</th>
      <th>Nome do animal</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @exame_requisicoes.each do |exame_requisicao| %>
      <tr id="exame_requisicao<%=exame_requisicao.id%>">
        <td><%= l exame_requisicao.created_at %></td>
        <td><%= link_to exame_requisicao.id, edit_intranet_exame_requisicao_path(exame_requisicao) %></td>
        <td><%= link_to exame_requisicao.proprietario, edit_intranet_exame_requisicao_path(exame_requisicao) %></td>
        <td><%= link_to exame_requisicao.nome, edit_intranet_exame_requisicao_path(exame_requisicao) %></td>
        <td><%= t (exame_requisicao.aasm_state) %></td>
        <td>
          <%= link_to 'Confirmar recebimento', receber_intranet_exame_requisicao_path(exame_requisicao), id: "confirmar_recebimento" if exame_requisicao.may_confirmar_recebimento?%>
        </td>
        <td><%= link_to 'Excluir', exame_requisicao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'Voltar', intranet_path %>
