<!--%= image_tag curent_user.gravatar_url %-->
<div class="container">

  <% if @lab.organizacao.experimental? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <p>Este laboratório encontra-se em modo experimental <strong>modo experimental</strong> (5 minutos são suficientes para conhecer o sistema).</p>
      <ul>
        <li>O modo experimental tem o propópsito de apresentar as funcionalidades do sistema e agiliar sua aquisição.</li>
        <li>No modo experimental os acessos são irrestritos, qualquer usuário possui permissão total sobre o laboratório.</li>
        <li>O modo experimental termina quando alguém adquirir o laboratório.</li>
      </ul>
      <p><strong>Você é o proprietário do laboratório</strong>? Realize os seguintes passos para conhecer o sistema:</p>
      <ul id="passos">
        <li>Adicione os tipos de exames que seu laboratório realiza</li>
        <!--li>Edite a mensagem de apresentação do laboratório</li-->
        <li>Simule um cliente veterinário solicitando um novo exame</li>
        <!--li>Edite o telefone do laboratório</li-->
        <!--li>Edite o endereço do laboratório</li-->
      </ul>
      <p><strong>Você um cliente</strong>? Solicite um novo exame e conte ao proprietário como foi sua experiência com a utilização do sitema.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


  <% end %>

<div class="jumbotron" id="apresentacao_inicial">
  <h1 class="display-5"><%= @lab.nome %></h1>
  <div id="apresentacao">
    <p class="lead">
      <span id="texto_de_apresentacao"><%= @lab.apresentacao %></span>
        <% if policy(@lab).update? %>
        <a id="edit_apresentacao" class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Editar texto de apresentação
        </a>
        <% end %>
    </p>
    <% if policy(@lab).update? %>    
      <div class="collapse mb-5" id="collapseExample">
        <%= form_with model: Laboratorio.new, url: update_apresentacao_path, method: :patch do |f| %>
        <div class="form-group">
          <label for="apresentacao_input">Escreva um novo texto para a apresentação do laboratório:</label>
          <textarea name="laboratorio[apresentacao]" class="form-control" id="apresentacao_input" rows="2" placeholder="Novo texto de apresentação"><%=@lab.apresentacao%></textarea>
        </div>
          <%= f.submit 'Atualizar', id: 'atualizar_apresentacao', class: 'btn btn-primary bt-sm' %>
        <% end %>
      </div>      
    <% end %>
  </div>
  <p class="lead">
    <% if current_user.nil? %>
    <hr class="m-y-2">
    <p>Na primeira solicitação você precisará registra-se no sistema.</p>
    <% end %>
    <% if @lab.exame_tipos.empty? %>
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Enquanto não houver tipos de exames cadastrados não será possível solicitar exames.">
      <%= link_to('Solicitar exame »', new_exame_requisicao_path, class: "btn btn-primary btn-lg disabled", id: "botao_solicitar_exame", 'aria-disabled' => "true", :disabled => nil) %>
    </span>

    <% else %>
      <%= link_to('Solicitar exame »', new_exame_requisicao_path, class: "btn btn-primary btn-lg", id: "botao_solicitar_exame") %>
    <% end %>
  </p>
</div>

  <%= render partial: "exame_tipos/secao_exame_tipos",  locals: {:lab => @lab, can_update: policy(@lab).update?, edit_mode: false} %>

</div>