<!--%= image_tag curent_user.gravatar_url %-->
<div class="container">

  <% if @lab.organizacao.experimental? %>
    <div class="alert alert-danger" role="alert">
      Este laboratório encontra-se em modo experimental

      <a class="alert-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        modo experimental.
      </a>

      <div class="collapse" id="collapseExample">
        <ul>
          <li>O modo experimental tem o propópsito de agiliar a venda do sistema, proporcionando uma experimentação do sistema guiada.</li>
          <li>No modo experimental os acessos são irrestritos, qualquer usuário possui permissão total sobre o laboratório.</li>
          <li>O modo experimental termina quando um usuário adquirir o laboratório.</li>
        </ul>
      </div>
    </div>
  <% end %>

<div class="jumbotron" id="apresentacao_inicial">
  <h1 class="display-5"><%= @lab.nome %></h1>
  <p class="lead">
    <%= @lab.apresentacao %>
  </p>
  <p class="lead">
    <% if current_user.nil? %>
    <hr class="m-y-2">
    <p>Na primeira solicitação você precisará registra-se no sistema.</p>
    <% end %>
    <%= link_to('Solicitar exame »', new_exame_requisicao_path, class: "btn btn-primary btn-lg") %>
  </p>
</div>

  <div id="tipos">
    <h1>Exames disponíveis</h1>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Tipo do exame</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @lab.exame_tipos.each do |tipo| %>
          <tr>
            <td><%= tipo.nome %></td>
            <td><%= number_to_currency(tipo.valor, unit: "R$", separator: ",")%></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>