
<div class="container">
<h1>Requisições de exames</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Data</th>
      <th>Protocolo</th>
      <th>Tipo</th>
      <th>Proprietário</th>
      <th>Nome do animal</th>
      <th>Status</th>
      <th colspan="2">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @exame_requisicoes.each do |exame_requisicao| %>
      <tr class="<%= exame_requisicao.aguardando_envio?? 'table-warning' : exame_requisicao.aguardando_resultado?? 'table-info' : ''%>">
        <td><%= l exame_requisicao.created_at %></td>
        <td><%= link_to exame_requisicao.id, exame_requisicao %></td>
        <td><%= exame_requisicao.tipo.nome %></td>
        <td><%= link_to exame_requisicao.proprietario, exame_requisicao %></td>
        <td><%= link_to exame_requisicao.nome, exame_requisicao %></td>
        <td><%= link_to (t exame_requisicao.aasm_state), exame_requisicao %></td>
        <% if policy(exame_requisicao).update? %>
          <td><%= link_to 'Editar', edit_exame_requisicao_path(exame_requisicao), class: 'btn btn-outline-primary' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


</div>