<% if @exame_requisicao.resultado %>
<h1>Resultado</h1>

<p>O resultado do exame pode ser baixado através do(s) seguintes link(s):</p>

  <div id="anexos">
    <ul>
      <% @exame_requisicao.resultado.anexos.each_with_index do |anexo,index| %>
        <li><%= link_to "Resultado#{index+1}-#{l anexo.created_at}", anexo.anexo.url, id: "resultado-anexo#{index+1}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<h1>Requisição de exame</h1>

<p>
  <strong>Protocolo:</strong>
  <%= @exame_requisicao.id %>
</p>

<p>
  <strong>Tipo do exame:</strong>
  <%= @exame_requisicao.tipo.nome %>
</p>


<p>
  <strong>Proprietario:</strong>
  <%= @exame_requisicao.proprietario %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @exame_requisicao.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @exame_requisicao.idade %>
</p>

<p>
  <strong>Espécie:</strong>
  <%= @exame_requisicao.especie %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @exame_requisicao.raca %>
</p>

<p>
  <strong>Suspeita clínica:</strong>
  <%= @exame_requisicao.suspeita_clinica %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @exame_requisicao.observacoes %>
</p>

<p>
  <strong>Status:</strong>
  <%= t @exame_requisicao.aasm_state %>
</p>

<% if policy(@exame_requisicao).update? %>
  <%= link_to 'Editar', edit_exame_requisicao_path(@exame_requisicao) %> |
<% end %>
<%= link_to 'Voltar', exame_requisicoes_path %>