<% if @exame_requisicao.resultado %>
<h1>Resultado</h1>

<p>O resultado do exame pode ser baixado através do(s) seguintes link(s):</p>

  <div id="anexos">
    <ul>
      <% @exame_requisicao.resultado.anexos.each_with_index do |anexo,index| %>
        <li><%= link_to "Resultado#{index+1}-#{l anexo.created_at}", anexo.anexo.url, id: "resultado-anexo#{index+1}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<h1>Requisição de exame</h1>

<p>
  <strong>Proprietario:</strong>
  <%= @exame_requisicao.proprietario %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @exame_requisicao.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @exame_requisicao.idade %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @exame_requisicao.especie %>
</p>

<p>
  <strong>Raca:</strong>
  <%= @exame_requisicao.raca %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @exame_requisicao.observacoes %>
</p>

<p>
  <strong>Status:</strong>
  <%= t @exame_requisicao.aasm_state %>
</p>

<h2 class="instrucoes">Instruções para entrega da coleta</h2>

<ul>
  <li>Escreva no recipiente da coleta o número do protocolo e o nome do animal: <strong>#<%=@exame_requisicao.id%> - <%=@exame_requisicao.nome%></strong></li>
</ul>


<%= link_to 'Editar', edit_exame_requisicao_path(@exame_requisicao) %> |
<%= link_to 'Voltar', exame_requisicoes_path %>