<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title or "Clínica pessoal" %> | mundo.vet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="header">
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= current_user.email %>        
            </li>
            <li>
              <%= link_to('Sair', destroy_user_session_path, method: :delete) %>        
            </li>
          <% else %>
            <li>
              <%= link_to('Entrar', new_user_session_path)  %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Editar usuário', edit_user_registration_path) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Registar-se como novo usuário', new_user_registration_path)  %>
            </li>
          <% end %>          
        </ul>
      </div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <ul class="hmenu">

    </ul>

    <%= yield %>
  </body>
</html>
