<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "mundo.vet - Sistemas para laborat칩rios veterin치rios on-line" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Laborat칩rios veterin치rios - sistemas/software on-line (mundo.vet)" %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <header>
      <%= render 'layouts/home-header' %>
      <%#= render 'layouts/login' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
